.error-toast__container {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 25rem;
  padding: 1.25rem 0.75rem;
  background-color: #f8d7da;
  color: #721c24;
  border: 0.0625rem solid #f5c6cb;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.error-toast__container.hide {
  opacity: 0;
  transform: translateY(1.25rem);
}

.error-toast__close-btn {
  background: none;
  border: none;
  color: #721c24;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
}

.error-toast__message {
  font-size: 1rem;
  padding-right: 3rem;
}
