#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.homepage__footer {
  padding-top: 2em;
}

.homepage__marginBtNormal {
  margin-bottom: 1em;
}
